<h1>New book</h1>

<%= form_for @book do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <!-- New field for author -->
  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>


  <div class="field">
  <%= form.label :price %>
  <%= form.text_field :price %>
  </div>


  <div class="actions">
    <%= form.submit "Create Book" %>
  </div>
<% end %>

<div>
  <%= link_to "Back to books", books_path %>
</div>
